// Import variables from variables.scss
@use "variables" as var;

// Body
body {
  font-family: var.$primary-font;
  font-size: 1.125rem;
  background-color: var.$secondary-color;
  color: var.$text-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Navbar
.navbar {
  background-color: var.$secondary-color;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Logo
.logo img {
  width: 7rem;
  height: auto;
}

// Editor container
.editor-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  height: calc(100vh - 9.5rem);
  overflow: hidden;
  gap: 4rem;
}

// Toolbar
.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

// Left and right toolbars
.left-toolbar-1,
.left-toolbar-2,
.right-toolbar-1,
.right-toolbar-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: var.$secondary-color-2;
  padding: 0.5rem;
  border-radius: 1rem;
}

.left-toolbar-2,
.right-toolbar-1 {
  position: relative;
}

// Tool styles
.tool,
.shapes-tool {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 3rem;
  height: 3rem;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var.$secondary-color;
  border: none;
  padding: 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  img {
    width: auto;
    height: 1rem;
    margin-left: -0.75rem;
  }

  &:hover {
    background-color: var.$primary-color;
  }
}

// Active tool
.tool.active,
.shapes-tool.active {
  background-color: var.$primary-color;
}

// Shapes and rectangle icons
.shapes-icon,
.rectangle-icon {
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  border: 0.2rem solid var.$text-color;
  border-radius: 0.125rem;
}

// Shapes popup
.shapes-popup {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  left: calc(100% + 1rem);
  gap: 0.5rem;
  background-color: var.$secondary-color-2;
  padding: 0.5rem;
  border-radius: 1rem;
  z-index: 1000;
  display: none; // Hidden by default
}

// Line icon
.line-icon {
  width: 1.5rem;
  height: 0.2rem;
  background-color: var.$text-color;
  box-sizing: border-box;
  transform: rotate(-45deg);
  border-radius: 1000px;
}

// Circle icon
.circle-icon {
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  border: 0.2rem solid var.$text-color;
  border-radius: 50%;
}

// Triangle icon
.shapes-tool img {
  width: auto;
  height: 1.5rem;
  margin-left: 0;
}

// Color picker icon
.color-picker-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    #3084d1 5%,
    #b01fe2 25%,
    #e77d41 55%,
    #addf48 85%
  );
}

.color-picker-indicator {
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0.2rem solid var.$secondary-color;
  background-color: var.$secondary-color;
}

// Specific styles for right toolbars
.left-toolbar-2,
.right-toolbar-1,
.right-toolbar-2 {
  .tool img {
    width: auto;
    height: 1.5rem;
    margin-left: 0;
  }
}

// Stroke size and opacity popup
.stroke-size-popup,
.opacity-popup {
  position: absolute;
  height: 7.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  top: 0;
  right: calc(100% + 1rem);
  background-color: var.$secondary-color-2;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 1000;
  display: none; // Hidden by default
}

// Default position for opacity popup
.opacity-popup {
  top: 3.5rem;
}

// Opacity popup position for if both popups are present
.opacity-popup-2 {
  top: calc(100% + 1rem);
}

.stroke-size-popup,
.opacity-popup {
  h4 {
    margin: 0;
    padding: 0;
    color: var.$text-color;
    font-size: 1.25rem;
  }
}

.stroke-size-display,
.opacity-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

// Stroke size and opacity range slider
.stroke-size-range,
.opacity-range {
  -webkit-appearance: none;
  width: 15rem;
  height: 0.75rem;
  background-color: var.$inactive-color;
  border-radius: 1000px;
  outline: none;
  cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: var.$primary-color;
    border-radius: 50%;
    cursor: pointer;
    border: 0.25rem solid var.$secondary-color-2;
  }

  &::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    background-color: var.$primary-color;
    border-radius: 50%;
    cursor: pointer;
    border: 0.25rem solid var.$secondary-color-2;
  }
}

// Stroke size and opacity value input
.stroke-size-value,
.opacity-value {
  // Remove default input styles
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font: inherit;
  text-align: center;

  // Custom styles
  width: 4rem;
  height: 3rem;
  background-color: var.$secondary-color;
  box-sizing: border-box;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var.$text-color;
}

.stroke-size-value::-webkit-outer-spin-button,
.stroke-size-value::-webkit-inner-spin-button,
.opacity-value::-webkit-outer-spin-button,
.opacity-value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Canvas
.canvas-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.editor-canvas {
  width: 100%;
  height: calc(100vh - 2.5rem);
  background-color: var.$text-color;
  display: block;
}
