// Import variables from variables.scss
@use "variables" as var;

// Body
body {
  font-family: var.$primary-font;
  font-size: 1.125rem;
  background-color: var.$secondary-color;
  color: var.$text-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  // Responsive adjustments
  // For mobile devices
  @include var.for-phone-only {
    font-size: 1rem;
  }
}

// Navbar
.navbar {
  background-color: var.$secondary-color;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  // Responsive adjustments
  // For phone screens
  @include var.for-phone-only {
    padding: 2rem;
  }
}

// Logo
.logo img {
  width: 7rem;
  height: auto;

  // Responsive adjustments
  // For phone screens
  @include var.for-phone-only {
    width: 5.5rem;
  }
}

// Editor container
.editor-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  height: calc(100vh - 9.5rem);
  overflow: hidden;
  gap: 2.5rem;

  // Responsive adjustments
  // For phone screens
  @include var.for-phone-only {
    display: none;
  }
}

// Toolbar
.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

// Left and right toolbars
.left-toolbar-1,
.left-toolbar-2,
.right-toolbar-1,
.right-toolbar-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: var.$secondary-color-2;
  padding: 0.5rem;
  border-radius: 1rem;
}

.left-toolbar,
.left-toolbar-2,
.right-toolbar-1 {
  position: relative;
}

// Tool styles
.tool,
.shapes-tool {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 3rem;
  height: 3rem;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var.$secondary-color;
  border: none;
  padding: 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  img {
    width: auto;
    height: 1rem;
    margin-left: -0.75rem;
  }

  &:hover {
    background-color: var.$primary-color;
  }
}

// Active tool
.tool.active,
.shapes-tool.active {
  background-color: var.$primary-color;
}

// Shapes and rectangle icons
.shapes-icon,
.rectangle-icon {
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  border: 0.2rem solid var.$text-color;
  border-radius: 0.125rem;
}

// Shapes popup
.shapes-popup {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  left: calc(100% + 1rem);
  gap: 0.5rem;
  background-color: var.$secondary-color-2;
  padding: 0.5rem;
  border-radius: 1rem;
  z-index: 1000;
  display: none; // Hidden by default
  transition: opacity 0.15s ease-in-out;
}

.shapes-popup.visible {
  display: flex;

  // Add a simple fade-in animation
  animation: fadeIn 0.15s ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.shapes-popup.closing {
  opacity: 0;
}

// Line icon
.line-icon {
  width: 1.5rem;
  height: 0.2rem;
  background-color: var.$text-color;
  box-sizing: border-box;
  transform: rotate(-45deg);
  border-radius: 1000px;
}

// Circle icon
.circle-icon {
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  border: 0.2rem solid var.$text-color;
  border-radius: 50%;
}

// Triangle icon
.shapes-tool img {
  width: auto;
  height: 1.5rem;
  margin-left: 0;
}

// Color picker icon
.color-picker-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    #3084d1 5%,
    #b01fe2 25%,
    #e77d41 55%,
    #addf48 85%
  );
}

.color-picker-indicator {
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0.2rem solid var.$secondary-color;
  background-color: var.$secondary-color;
}

// Color picker popup
.color-picker-popup {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: calc(100% + 1rem);
  background-color: var.$secondary-color-2;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  display: none; // Hidden by default
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;

  &.visible {
    display: flex;

    // Add a simple fade-in animation
    animation: fadeIn 0.15s ease-in-out;

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  // Fade out animation when closing
  &.closing {
    opacity: 0;
  }
}

// Color picker header
.color-picker-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    margin: 0;
    padding: 0;
    color: var.$text-color;
    font-size: 1.25rem;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
}

// Color selection area
.color-selection-area {
  flex: 1;
  width: 26rem;
  // height: 8.25rem;
  background: linear-gradient(to bottom, transparent, black),
    linear-gradient(to right, white, transparent);
  position: relative;
  border-radius: 0.5rem;
  // cursor: crosshair;
}

.color-selection-cursor {
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  background-color: var.$primary-color;
  border-radius: 50%;
  cursor: pointer;
  border: 0.25rem solid var.$text-color;
  position: absolute;
  transform: translate(-25%, -25%);
  // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
}

// Color sliders (hue and opacity)
.color-sliders {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

// Hue and opacity range slider
.hue-slider,
.color-opacity-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1rem;
  border-radius: 1000px;
  outline: none;
  cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--hue-thumb-color, var.$primary-color);
    border-radius: 50%;
    cursor: pointer;
    border: 0.25rem solid var.$text-color;
  }

  &::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--hue-thumb-color, var.$primary-color);
    border-radius: 50%;
    cursor: pointer;
    border: 0.25rem solid var.$text-color;
  }
}

.hue-slider {
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 17%,
    #00ff00 33%,
    #00ffff 50%,
    #0000ff 67%,
    #ff00ff 83%,
    #ff0000 100%
  );
}

.color-opacity-slider {
  // Checkered background pattern for transparency
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      var.$primary-color
    ),
    linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%),
    linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%);
  background-size: 100% 100%, 8px 8px, 8px 8px;
  background-position: 0 0, 0 0, 4px 4px;

  &::-webkit-slider-thumb {
    background-color: var(--opacity-thumb-color, var.$text-color) !important;
  }

  &::-moz-range-thumb {
    background-color: var(--opacity-thumb-color, var.$text-color) !important;
  }
}

// Color format dropdown
.input-row {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 5.25rem 2fr 5.25rem;
  align-items: center;
  gap: 1rem;
}

.color-format {
  grid-column: 1;
  width: 100%;
}

// Color format options dropdown
.color-format-options {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 5.25rem;
  margin-top: 1rem;
  background-color: var.$secondary-color;
  border-radius: 0.5rem;
  list-style: none;
  padding: 0;
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;

  li {
    padding: 0.75rem 1rem;
    cursor: pointer;
    color: var.$text-color;
    transition: background-color 0.15s ease;

    &:hover {
      background-color: var.$primary-color;
    }

    &:first-child {
      border-radius: 0.5rem 0.5rem 0 0;
    }

    &:last-child {
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
}

// Show dropdown when open
.color-format.open .color-format-options {
  display: block;
  animation: fadeIn 0.15s ease-in-out;
}

// Color format toggle button (HEX, RGB, HSL)
.color-format-toggle {
  // Remove default button styles
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: var.$secondary-color;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var.$text-color;
  font-family: var.$primary-font;
  font-size: 1rem;

  img {
    width: 1rem;
    height: 1rem;
    transition: transform 0.3s ease;
    &.rotated {
      transform: rotate(-180deg);
    }
  }
}

// Color input fields (HEX, RGB, HSL)
.color-inputs {
  grid-column: 2;
  width: 100%;

  input {
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: none;
    padding: 0 1rem;
    background-color: var.$secondary-color;
    color: var.$text-color;
    font-family: var.$primary-font;
    font-size: 1rem;
    text-transform: uppercase; // Capitalize letters for HEX input

    &::placeholder {
      color: rgba(var.$text-color, 0.5);
    }

    &:focus {
      outline: none;
    }
  }
}

.format-inputs {
  display: none; // Hidden by default

  &.rgb,
  &.hsl {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  &.visible {
    display: block;
  }
}

// Specific styles for RGB and HSL inputs
.rgb,
.hsl {
  input {
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: none;
    padding: 0 1rem;
    background-color: var.$secondary-color;
    color: var.$text-color;
    font-family: var.$primary-font;
    font-size: 1rem;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::placeholder {
      color: rgba(var.$text-color, 0.5);
    }

    &:focus {
      outline: none;
    }
  }
}

// For RGB and HSL specifically, adjust only the layout
.rgb.visible,
.hsl.visible {
  display: grid;
}

// Color opacity input
.opacity-input {
  position: relative;
  grid-column: 3;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  input {
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: none;
    padding: 0 1rem;
    background-color: var.$secondary-color;
    color: var.$text-color;
    font-family: var.$primary-font;
    font-size: 1rem;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::placeholder {
      color: var.$inactive-color;
    }

    &:focus {
      outline: none;
    }
  }

  // Percentage sign
  span {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: var.$inactive-color;
    font-size: 1rem;
  }
}

// Saved colors
.saved-colors {
  h4 {
    margin: 0;
    padding: 0;
    color: var.$text-color;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }
}

// Add color button
.add-color {
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  background: var.$secondary-color;
  border: 1px dashed rgba(var.$inactive-color, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var.$inactive-color;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  position: relative;
  transition: border-color 0.15s ease, color 0.15s ease, transform 0.15s ease;

  // Create the + symbol with pseudo-elements
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: var.$inactive-color;
    transition: background-color 0.15s ease;
  }

  &::before {
    width: 0.75rem;
    height: 2px;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    width: 2px;
    height: 0.75rem;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    border-color: var.$primary-color;
    transform: scale(1.1);

    &::before,
    &::after {
      background-color: var.$primary-color;
    }
  }
}

// Saved colors grid
.saved-colors-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.saved-colors-grid {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  // Hide the grid container when empty so the add button aligns to the left
  &:empty {
    display: none;
  }
}

.saved-color-swatch {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var.$secondary-color-2;
  transition: transform 0.15s ease;

  &:hover {
    transform: scale(1.1);
    border-color: var.$primary-color;
  }
}

// Think about when the saved colors overflow the popup - Make it scrollable

// Specific styles for right toolbars
.left-toolbar-2,
.right-toolbar-1,
.right-toolbar-2 {
  .tool img {
    width: auto;
    height: 1.5rem;
    margin-left: 0;
  }
}

// Stroke size and opacity popup
.stroke-size-popup,
.opacity-popup {
  position: absolute;
  height: 7.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  top: 0;
  right: calc(100% + 1rem);
  background-color: var.$secondary-color-2;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 1000;
  display: none; // Hidden by default
  transition: opacity 0.15s ease-in-out;
}

// Default position for opacity popup
.opacity-popup {
  top: 3.5rem;
}

/* Opacity popup position for if both popups are present
.opacity-popup-2 {
  top: calc(100% + 1rem);
} */

.stroke-size-popup,
.opacity-popup {
  h4 {
    margin: 0;
    padding: 0;
    color: var.$text-color;
    font-size: 1.25rem;
  }
}

.stroke-size-popup.visible,
.opacity-popup.visible {
  display: flex;

  // Add a simple fade-in animation
  animation: fadeIn 0.15s ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

// Fade-out animation when closing
.stroke-size-popup.closing,
.opacity-popup.closing {
  opacity: 0;
}

.stroke-size-display,
.opacity-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

// Stroke size and opacity range slider
.stroke-size-range,
.opacity-range {
  -webkit-appearance: none;
  width: 15rem;
  height: 0.75rem;
  background-color: var.$inactive-color;
  border-radius: 1000px;
  outline: none;
  cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: var.$primary-color;
    border-radius: 50%;
    cursor: pointer;
    border: 0.25rem solid var.$secondary-color-2;
  }

  &::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    background-color: var.$primary-color;
    border-radius: 50%;
    cursor: pointer;
    border: 0.25rem solid var.$secondary-color-2;
  }
}

// Stroke size and opacity value input
.stroke-size-value,
.opacity-value {
  // Remove default input styles
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font: inherit;
  text-align: center;

  // Custom styles
  width: 4rem;
  height: 2.5rem;
  background-color: var.$secondary-color;
  box-sizing: border-box;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var.$text-color;
}

.stroke-size-value::-webkit-outer-spin-button,
.stroke-size-value::-webkit-inner-spin-button,
.opacity-value::-webkit-outer-spin-button,
.opacity-value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Canvas
.canvas-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.editor-canvas {
  width: 100%;
  height: calc(100vh - 2.5rem);
  background-color: var.$text-color;
  display: block;
}

// Mobile devices not supported message
.mobile-notice {
  display: none;
  height: calc(100vh - 9.5rem);
  font-family: var.$primary-font;
  font-size: 1rem;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  @include var.for-phone-only {
    display: flex;
  }
}

.mobile-notice-content {
  max-width: 36rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
}
