// Import variables from variables.scss
@use "variables" as var;

// Body
body {
  font-family: var.$primary-font;
  font-size: 1.125rem;
  background-color: var.$secondary-color;
  color: var.$text-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Navbar
.navbar {
  background-color: var.$secondary-color;
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Logo
.logo img {
  width: 7rem;
  height: auto;
}

// Nav links
.about {
  list-style-type: none;

  a {
    color: var.$text-color;
    text-decoration: none;
  }
}

// Main content
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
}

// Header
.main-header-container {
  // width: 50rem; Use this width for bigger screens
  word-wrap: break-word;
}

.main-header {
  font-size: 4rem;
  line-height: 5rem;
  margin-top: 0rem;
  margin-bottom: 2.5rem;
}

.cursive-text {
  font-family: var.$accent-font;
  font-weight: bold;
  color: var.$primary-color;
}

// Subtext
.subtext {
  margin-bottom: 2.5rem;
}

// Start Drawing button
.start-drawing-btn {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var.$primary-color;
  color: var.$text-color;
  text-decoration: none;
  border-radius: 50rem;
  font-weight: bold;
}

// Image section
.image-section {
  margin-top: 4rem;
}

.ipad-image {
  width: 100%;
  max-width: 64rem;
  height: auto;
}

// Footer
.footer {
  display: flex;
  background-color: var.$secondary-color;
  padding: 2.5rem;
  justify-content: space-between;
  align-items: center;
}

// Socials
.socials {
  display: flex;
  gap: 2.5rem;

  a {
    color: var.$text-color;
    text-decoration: none;
  }
}
