// Import Aoenik typeface
@font-face {
  font-family: "Aeonik";
  src: url("../../assets/fonts/aeonik/aeonik-regular.woff2") format("woff2"),
    url("../../assets/fonts/aeonik/aeonik-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("../../assets/fonts/aeonik/aeonik-bold.woff2") format("woff2"),
    url("../../assets/fonts/aeonik/aeonik-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// Import Segoe Print typeface
@font-face {
  font-family: "Segoe Print";
  src: url("../../assets/fonts/segoe-print/segoe-print-regular.woff2")
      format("woff2"),
    url("../../assets/fonts/segoe-print/segoe-print-regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe Print";
  src: url("../../assets/fonts/segoe-print/segoe-print-bold.woff2")
      format("woff2"),
    url("../../assets/fonts/segoe-print/segoe-print-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// Import PF Reminder Pro typeface
@font-face {
  font-family: "PF Reminder Pro";
  src: url("../../assets/fonts/pf-reminder-pro/pf-reminder-pro-medium.woff2")
      format("woff2"),
    url("../../assets/fonts/pf-reminder-pro/pf-reminder-pro-medium.woff")
      format("woff");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

// Variables for colors and fonts
// Colors
$primary-color: #7458ed;
$secondary-color: #16131d;
$secondary-color-2: #1f1b2a;
$text-color: #ffffff;
$inactive-color: #868489;

// Fonts
$primary-font: "Aeonik", sans-serif;
$accent-font: "Segoe Print", "PF Reminder Pro", cursive;

// Mixins for media queries
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1400px) {
    @content;
  }
}
