@font-face {
  font-family: "Aeonik", sans-serif;
  src: url("../../assets/fonts/aeonik/aeonik-regular.woff2") format("woff2"), url("../../assets/fonts/aeonik/aeonik-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aeonik", sans-serif;
  src: url("../../assets/fonts/aeonik/aeonik-bold.woff2") format("woff2"), url("../../assets/fonts/aeonik/aeonik-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Segoe Print", cursive;
  src: url("../../assets/fonts/segoe-print/segoe-print-regular.woff2") format("woff2"), url("../../assets/fonts/segoe-print/segoe-print-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe Print", cursive;
  src: url("../../assets/fonts/segoe-print/segoe-print-bold.woff2") format("woff2"), url("../../assets/fonts/segoe-print/segoe-print-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Aeonik", sans-serif;
  font-size: 1.125rem;
  background-color: #16131d;
  color: #ffffff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #16131d;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 7rem;
  height: auto;
}

.editor-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem;
  padding-bottom: 5.5rem;
}

.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.left-toolbar-1,
.left-toolbar-2,
.right-toolbar-1,
.right-toolbar-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #1f1b2a;
  padding: 0.5rem;
  border-radius: 1rem;
}

.tool {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 4rem;
  height: 4rem;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #16131d;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.tool img {
  width: auto;
  height: 1.5rem;
  margin-left: -1rem;
}
.tool:hover {
  background-color: #7458ed;
}

.shapes-icon {
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  border: 0.25rem solid #ffffff;
  border-radius: 0.125rem;
}

.color-picker-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  border-radius: 50%;
  background: linear-gradient(135deg, #3084d1 5%, #b01fe2 25%, #e77d41 55%, #addf48 85%);
}

.color-picker-indicator {
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0.25rem solid #16131d;
  background-color: #7458ed;
}

.left-toolbar-2 .tool img,
.right-toolbar-1 .tool img,
.right-toolbar-2 .tool img {
  width: auto;
  height: 2rem;
  margin-left: 0;
}

.canvas-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.editor-canvas {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}